@using Microsoft.AspNet.Identity
@model GamingSessionApp.ViewModels.Profile.UserMenuViewModel

@{
    string username = User.Identity.GetUserName();
}

<li>
    <img src="@Model.ThumbnailUrl" width="36" height="36" alt="@username" title="@username" />

    <a href="/Profile/@username" title="My Profile" style="display: inline-block">
        @username
    <i class="fa fa-trophy" style="margin-left: 5px;"></i> @Model.KudosPoints
</a>
</li>

@* Messages *@
<li>
    <a href="/Messages/Inbox" title="Messages">
        <i class="fa fa-envelope-o fa-lg"></i>
        @if (Model.UnreadMessages > 0)
        {
            <span id="message-count" class="badge" style="background-color: #3399FF">@Model.UnreadMessages</span>
        }
    </a>
</li>

@* Notifications *@
<li id="notif-toggle" class="dropdown">
    @* Cog Icon *@
    <a href="#" title="Notifications" class="dropdown-toggle" data-toggle="dropdown" role="button">
        <i class="fa fa-bell-o fa-lg"></i>
        @if (Model.UnseenNotifications > 0)
        {
            <span id="notif-count" class="badge" style="background-color: #3399FF">@Model.UnseenNotifications</span>
        }
    </a>

    @* Dropdown menu *@
    <div class="dropdown-menu">

        <div class="dd-menu-header">
            Notifications <i id="n-spinner" class="fa fa-spinner fa-pulse"></i>
        </div>

        <ul id="notif-placeholder" class="notif-menu"></ul>

        <div class="notif-footer">
            <a href="@Url.Action("ViewAll", "Notifications")">See all notitifications</a>
        </div>
</div>
</li>

