@model GamingSessionApp.ViewModels.Session.CreateSessionVM

@{
    ViewBag.Title = "Create Session";
}

<div class="jumbotron">
    <h1>
        Create Session <small>Details</small>
    </h1>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new {@class = "text-danger"})

        @* Section Options/Tabs *@
        <div class="col-md-2" style="border-right: 1px solid #eeeeee; height: 100%">
            <ul class="nav nav-pills nav-stacked">
                <li role="presentation" class="active">
                    <a href="#info" aria-controls="info" role="tab" data-toggle="tab">Session Information</a>
                </li>
                <li role="presentation">
                    <a href="#requirements" aria-controls="requirements" role="tab" data-toggle="tab">Requirements</a>
                </li>
                <li role="presentation">
                    <a href="#preferences" aria-controls="preferences" role="tab" data-toggle="tab">Preferences</a>
                </li>
                <li role="presentation">
                    <a href="#invitations" aria-controls="invitations" role="tab" data-toggle="tab">Invitations</a>
                </li>
            </ul>
        </div>

        <div class="col-md-10">

            @* Session Information tab *@
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="info">

                    <fieldset>
                        <legend>Timings</legend>

                        <div class="form-group">
                            @Html.LabelFor(m => m.ScheduledDate, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(m => m.ScheduledDate, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(m => m.ScheduledDate, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.ScheduledTime, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DropDownListFor(m => m.ScheduledTime, Model.ScheduledTimeList, null, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.ScheduledTime, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.PlatformId, "PlatformId", new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DropDownListFor(m => m.PlatformId, Model.PlatformList, null, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.PlatformId, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.TypeId, "TypeId", new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DropDownListFor(m => m.TypeId, Model.SessionTypeList, null, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.TypeId, "", new { @class = "text-danger" })
                            </div>
                        </div>


                        <div class="form-group">
                            @Html.LabelFor(m => m.Information, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(m => m.Information, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(m => m.Information, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.DurationId, "DurationId", new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DropDownListFor(m => m.DurationId, Model.DurationList, null, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.DurationId, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.IsPublic, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                <div class="checkbox">
                                    @Html.EditorFor(m => m.IsPublic)
                                    @Html.ValidationMessageFor(m => m.IsPublic, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>

                @* Requirements tab *@
                <div role="tabpanel" class="tab-pane" id="requirements">

                    <div class="form-group">
                        @Html.LabelFor(m => m.GamersRequired, new {@class = "control-label col-md-2"})
                        <div class="col-md-10">
                            @Html.DropDownListFor(m => m.GamersRequired, Model.GamersRequiredList, null, new {@class = "form-control"})
                            @Html.ValidationMessageFor(m => m.GamersRequired, "", new {@class = "text-danger"})
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.MinRatingScore, new {@class = "control-label col-md-2"})
                        <div class="col-md-10">
                            @Html.EditorFor(m => m.MinRatingScore, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(m => m.MinRatingScore, "", new {@class = "text-danger"})
                        </div>
                    </div>

                </div>

                @* Preferences tab *@
                <div role="tabpanel" class="tab-pane" id="preferences">

                    <div class="form-group">
                        @Html.LabelFor(m => m.ApproveJoinees, new {@class = "control-label col-md-2"})
                        <div class="col-md-10">
                            <div class="checkbox">
                                @Html.EditorFor(m => m.ApproveJoinees)
                                @Html.ValidationMessageFor(m => m.ApproveJoinees, "", new {@class = "text-danger"})
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.NotifyOnJoin, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <div class="checkbox">
                                @Html.EditorFor(m => m.NotifyOnJoin)
                                @Html.ValidationMessageFor(m => m.NotifyOnJoin, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.NotifyOnLeave, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <div class="checkbox">
                                @Html.EditorFor(m => m.NotifyOnLeave)
                                @Html.ValidationMessageFor(m => m.NotifyOnLeave, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>

                <div role="tabpanel" class="tab-pane" id="invitations">

                    <div class="form-group">
                        @Html.LabelFor(model => model.InviteRecipients, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <input id="user-autocomplete" type="text" data-update-target="#InviteRecipients"/>
                            @Html.HiddenFor(m => m.InviteRecipients)
                        </div>
                    </div>

                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default"/>
                </div>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>