@model GamingSessionApp.ViewModels.Session.SessionDetailsVM

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<h4>Session</h4> <span class="label label-info">@Model.Status</span>
<hr />



<div class="row">
    <div class="col-md-9">
        @* Details *@
        <div>
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(m => m.Duration)
                </dt>

                <dd>
                    @Html.DisplayFor(m => m.Duration)
                </dd>

                <dt>
                    @Html.DisplayNameFor(m => m.Platform)
                </dt>

                <dd>
                    @Html.DisplayFor(m => m.Platform)
                </dd>

                <dt>
                    @Html.DisplayNameFor(m => m.Type)
                </dt>

                <dd>
                    @Html.DisplayFor(m => m.Type)
                </dd>

                <dt>
                    @Html.DisplayNameFor(m => m.CreatorName)
                </dt>

                <dd>
                    @Html.DisplayFor(m => m.CreatorName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(m => m.CreatedDate)
                </dt>

                <dd>
                    @Html.DisplayFor(m => m.CreatedDate)
                </dd>

                <dt>
                    @Html.DisplayNameFor(m => m.ScheduledDate)
                </dt>

                <dd>
                    @Html.DisplayFor(m => m.ScheduledDate)
                </dd>

                <dt>
                    @Html.DisplayNameFor(m => m.MembersRequired)
                </dt>

                <dd>
                    @Html.DisplayFor(m => m.MembersRequired)
                </dd>

                <dt>
                    @Html.DisplayNameFor(m => m.MembersCount)
                </dt>

                <dd>
                    @Html.DisplayFor(m => m.MembersCount)
                </dd>

                <dt>
                    @Html.DisplayNameFor(m => m.Information)
                </dt>

                <dd>
                    @Html.DisplayFor(m => m.Information)
                </dd>

                <dt>
                    @Html.DisplayNameFor(m => m.IsPublic)
                </dt>

                <dd>
                    @Html.DisplayFor(m => m.IsPublic)
                </dd>

            </dl>
        </div>
    </div>
    <div class="col-md-3">
        @* Members *@

        <div class="panel panel-primary">
            <div class="panel-heading">Members (@Model.MembersCount)</div>
            <div class="panel-body">
                <div id="members-div">
                    <table style="width: 100%">
                        <tbody>
                            @foreach (var m in Model.Members)
                            {
                                <tr>
                                    <td>
                                        @if (m.IsHost)
                                        {
                                            <i class="fa fa-user-plus"></i>
                                        }
                                    </td>
                                    <td>@Html.ActionLink(m.DisplayName, "UserProfile", "Profile", new { userName = m.DisplayName }, null)</td>
                                    <td><i class="fa fa-trophy"></i> @m.Kudos</td>
                                    <td><a href="#" title="Private Message"><i class="fa fa-envelope-o"></i></a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<p>
    @if (Model.CanJoin)
    {
        @Html.ActionLink("Join", "JoinSession", "Sessions", new {sessionId = Model.Id}, new {@class = "btn btn-primary"})
    }

    @if (Model.CanLeave)
    {
        @Html.ActionLink("Leave", "LeaveSession", "Sessions", new {sessionId = Model.Id}, new {@class = "btn btn-primary"})
    }
</p>

@* Variables *@
@{
    string feedbackUrl = Url.Action("SessionFeedback", "Feedback", new {sessionId = Model.Id});
}

@* Nav Tabs *@
<ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active">
        <a href="#comments" role="tab" data-toggle="tab">Comments</a>
    </li>
    <li role="presentation">
        <a href="#feedback" role="tab" data-toggle="tab" data-ajax-url="@feedbackUrl">Feedback</a>
    </li>
</ul>

@* Tab Panes *@
<div class="tab-content">
    
    @* Comments Tab *@
    <div role="tabpanel" class="tab-pane active" id="comments">
        <div class="row">
            <div class="col-md-9">
                @Html.Partial("~/Views/Comments/_SessionComments.cshtml", Model.Comments)
            </div>
            <div class="col-md-3">
                <div style="height: 200px; width: 100%; border: 1px solid gray; margin-top: 40px;">
                    ADVERT?
                </div>
            </div>
        </div>
    </div>

    @* Feedback *@
    <div role="tabpanel" class="tab-pane" id="feedback" data-update-id="feedbackContainer" style="padding: 20px;">
        <div id="ajaxLoading" class="ajax-spinner"></div>
        <div id="feedbackContainer"></div>
    </div>
</div>

