@using GamingSessionApp.Helpers
@model GamingSessionApp.ViewModels.Inbox.UserMessagesViewModel

@{
    ViewBag.Title = "Inbox";
}

@Html.SuccessMessage(TempData["SuccessMessage"] as string)

<h2>Inbox</h2>
<hr/>

<div>
    <a href="@Url.Action("Create", "Messages")" class="btn btn-default margin-t-10"><i class="fa fa-edit"></i> Create New</a>

    <a href="@Url.Action("Outbox", "Messages")" class="btn btn-default margin-t-10"><i class="fa fa-paper-plane-o"></i> Outbox</a>

    <button id="mark-read-btn" class="btn btn-default margin-t-10" data-url="@Url.Action("MarkRead", "Messages")"><i class="fa fa-envelope-o"></i> Mark as Read</button>
</div>

<table class="table inbox-table">
    <thead>
        <tr>
            <th class="hidden-xs text-center">Action</th>
            <th>From</th>
            <th>Subject</th>
            <th>Sent</th>
            <th class="hidden-xs"></th>
        </tr>
    </thead>
    
    @foreach (var m in Model.Messages)
    {
        <tr @(m.Read ? "" : "class=unread" )>
            <td class="hidden-xs text-center">
                <input type="checkbox" data-id="@m.Id"/>
            </td>
           <td>
                <img class="hidden-xs" src="@m.SenderImageUrl" width="36" height="36" title="@m.SenderName" alt="@m.SenderName"/>
                @Html.ActionLink(m.SenderName, "UserProfile", "Profile", new {userName = m.SenderName}, null)
            </td>
            <td>
                @Html.ActionLink(m.Subject, "View", "Messages", new {id = m.Id}, null)
            </td>
            <td>
                <span><i class="fa fa-clock-o hidden-xs"></i> @Html.DisplayFor(modelItem => m.SentDisplayDate)</span>
            </td>
            <td class="hidden-xs">
                <a class="delete-message" href="@Url.Action("Delete", "Messages", new {id = @m.Id})" data-ajax-method="DELETE">
                    <i class="fa fa-trash-o"></i>
                </a>
            </td>
        </tr>
    }
</table>

@if (Model.Messages.Count < 1)
{
    <div class="no-messages">
        <i class="fa fa-envelope-o"></i>
        <span>You have no messages</span>
    </div>
}

<div class="text-right">
    @Html.PaginationFull(Model.Pagination.PageSize, Model.Pagination.PageNo, Model.Pagination.TotalCount, Url.Action("Inbox", "Messages"))
</div>
