@using GamingSessionApp.Models
@model RegisterViewModel
@{
    ViewBag.Title = "Register";
}

@Html.ValidationSummary("", new { @class = "text-danger" })

<div class="register-form">
    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new {@class = "form-horizontal", role = "form"}))
    {
        @Html.AntiForgeryToken()

        <div class="register-heading">
            <h3><i class="fa fa-gamepad"></i> Join the community</h3>
        </div>

        <div class="col-md-12 register-fields">

            <div class="form-group">
                <div class="input-group input-group-lg">
                    <span class="input-group-addon"><i class="fa fa-user" style="width: 15px"></i></span>
                    @Html.TextBoxFor(m => m.UserName, new {@class = "form-control", @placeholder = "Username", @autofocus = "" })
                </div>
                @Html.ValidationMessageFor(m => m.UserName, null, new {@class = "text-danger"})
            </div>

            <div class="form-group">
                <div class="input-group input-group-lg">
                    <span class="input-group-addon"><i class="fa fa-envelope-o" style="width: 15px"></i></span>
                    @Html.TextBoxFor(m => m.Email, new {@class = "form-control", @placeholder = "Email"})
                </div>
                @Html.ValidationMessageFor(m => m.Email, null, new {@class = "text-danger"})
            </div>

            <div class="form-group">
                <div class="input-group input-group-lg">
                    <span class="input-group-addon"><i class="fa fa-lock" style="width: 15px"></i></span>
                    @Html.PasswordFor(m => m.Password, new {@class = "form-control", @placeholder = "Password"})
                </div>
                @Html.ValidationMessageFor(m => m.Password, null, new {@class = "text-danger"})
            </div>

            <div class="form-group">
                <div class="input-group input-group-lg">
                    <span class="input-group-addon"><i class="fa fa-lock" style="width: 15px"></i></span>
                    @Html.PasswordFor(m => m.ConfirmPassword, new {@class = "form-control", @placeholder = "Confirm Password"})
                </div>
                @Html.ValidationMessageFor(m => m.ConfirmPassword, null, new {@class = "text-danger"})
            </div>


            <div class="form-group">
                <button type="submit" class="register-btn"><i class="fa fa-sign-in"></i> Sign up</button>
            </div>

            <p class="text-center gray">By signing up, you agree to the Terms of Service and Privacy Policy, including Cookie Use.</p>
        </div>
    }
</div>
<div class="col-md-8 col-md-offset-2">
    <hr />

    @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })

</div>
