@model GamingSessionApp.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Reset password";
}

@Html.ValidationSummary("", new { @class = "text-danger" })

<div class="register-form">
    @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()

        <div class="register-heading">
            <h3>
                <i class="fa fa-lock gray"></i> Reset your password
            </h3>

            <p class="gray">
                Complete the form below to change your password to something new. <br/>
                <b>Tip:</b> Try something other than "password" :) 
            </p>
        </div>

        <div class="form-group">
            <div class="input-group input-group-lg">
                <span class="input-group-addon"><i class="fa fa-envelope-o" style="width: 15px"></i></span>
                @Html.EditorFor(m => m.Email, new {htmlAttributes = new {@class = "form-control", @placeholder = "Email", @autofocus = "" } })
            </div>
            @Html.ValidationMessageFor(m => m.Email, null, new {@class = "text-danger"})
        </div>

        <div class="form-group">
            <div class="input-group input-group-lg">
                <span class="input-group-addon"><i class="fa fa-lock" style="width: 15px"></i></span>
                @Html.EditorFor(m => m.Password, new {htmlAttributes = new {@class = "form-control", @placeholder = "New Password"}})
            </div>
            @Html.ValidationMessageFor(m => m.Password, null, new {@class = "text-danger"})
        </div>

        <div class="form-group">
            <div class="input-group input-group-lg">
                <span class="input-group-addon"><i class="fa fa-lock" style="width: 15px"></i></span>
                @Html.EditorFor(m => m.ConfirmPassword, new { htmlAttributes = new { @class = "form-control", @placeholder = "Confirm New Password" } })
            </div>
            @Html.ValidationMessageFor(m => m.ConfirmPassword, null, new { @class = "text-danger" })
        </div>


        <div class="form-group">
            <button type="submit" class="register-btn"><i class="fa fa-unlock-alt"></i> Reset</button>
        </div>

        @Html.HiddenFor(m => m.Code)
    }
</div>