@model List<GamingSessionApp.ViewModels.Profile.UserFriendViewModel>


@{
    bool isMyProfile = ViewBag.IsMyProfile;

    string noFriendsText = isMyProfile ? 
        "You have no friends! Maybe you should get some.." : 
        "This user has no friends yet :(";
}


<h4 class="widget-heading border-bottom-red">Friends (@Model.Count)</h4>
<div class="widget">
    @{
        if (Model.Any())
        {
            int i = 1;
            <table class="friends-table">
                <colgroup>
                    <col style="width: 15%" />
                    <col style="width: 55%;" />
                    <col style="width: 30%;" />
                </colgroup>
                @foreach (var f in Model)
                {
                    <tr>
                        <td class="gray"># @i</td>
                        <td>@Html.ActionLink(f.DisplayName, "UserProfile", "Profile", new {userName = f.DisplayName}, null)</td>
                        <td class="gray text-right"><i class="fa fa-trophy"></i> @f.KudosPoints</td>
                    </tr>
                    i++;
                }
            </table>
        }
        else
        {
            <div class="no-friends">
                <i class="fa fa-exclamation-circle"></i>
                <span> @noFriendsText</span>
            </div>
        }
    }
</div>