@using GamingSessionApp.Helpers
@model GamingSessionApp.ViewModels.Profile.UserProfileViewModel

@{
    ViewBag.Title = Model.DisplayName + "'s Profile";
}

<div class="row" style="margin-bottom:40px">
    <div class="col-md-2">
        <img src="@Model.ProfileImageUrl" alt="@Model.DisplayName" title="@Model.DisplayName" width="180" height="180"/>
    </div>
    <div class="col-md-7">
        <h1>@Model.DisplayName</h1>
        <h2>Kudos: @Model.KudosPoints</h2>
    </div>
</div>

<div class="row">
    <div class="col-md-9">
        
        @* My Sessions Widget *@
        <div class="widget">
            <h4 class="widget-heading">My Sessions</h4>
            <div class="widget-body">
                @{
                    if (Model.Sessions.Any())
                    {
                        foreach (var session in Model.Sessions)
                        {
                            <div class="sli-container">
                                @*-- Display Scheduled Time --*@
                                <div class="sli-heading-time border-bottom-blue">
                                    <i class="fa fa-clock-o"></i> @Html.DisplayFor(s => session.ScheduledDate)
                                </div>

                                @*-- Session Details --*@
                                <div class="sli-details-left border-right-blue">
                                    <div class="sli-details-left-image">
                                        @Html.SessionTypeIcon(session.Type.Name)
                                    </div>

                                    <span><i class="fa fa-user"></i> @session.SignedGamersCount</span>
                                </div>

                                <div class="sli-details-right sli-blue">
                                    <a href="@Url.Action("Details", "Sessions", new {id = session.Id})">
                                        @Html.DisplayFor(s => session.Platform.Name) - Tomb Raider Multiplayer session
                                    </a>
                                    <p>@Html.DisplayFor(s => session.Information)</p>
                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        <p>You have no up-coming sessions.</p>
                        <p>Why not join some?</p>
                    }
                }
            </div>
        </div>

        @* Friends Sessions Widget *@
        <div class="widget">
            <h4 class="widget-heading">Friends Sessions</h4>
            <div class="widget-body">
                @{
                    if (Model.FriendsSessions.Any())
                    {
                        foreach (var session in Model.FriendsSessions)
                        {
                            <div class="sli-container">
                                @*-- Display Scheduled Time --*@
                                <div class="sli-heading-time border-bottom-blue">
                                    <i class="fa fa-clock-o"></i> @Html.DisplayFor(s => session.ScheduledDate)
                                </div>

                                @*-- Session Details --*@
                                <div class="sli-details-left border-right-blue">
                                    <div class="sli-details-left-image">
                                        @Html.SessionTypeIcon(session.Type.Name)
                                    </div>

                                    <span><i class="fa fa-user"></i> @session.SignedGamersCount</span>
                                </div>

                                <div class="sli-details-right sli-blue">
                                    <a href="@Url.Action("Details", "Sessions", new {id = session.Id})">
                                        @Html.DisplayFor(s => session.Platform.Name) - Tomb Raider Multiplayer session
                                    </a>
                                    <p>@Html.DisplayFor(s => session.Information)</p>
                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        <p>Your friends have no up-coming sessions.</p>
                        <p>Maybe you should set on up!</p>
                    }
                }
            </div>
        </div>
    </div>

    <div class="col-md-3">

        @* My Friends Widget *@
        @Html.Partial("_FriendsWidget", Model.Friends)

        @if (Model.KudosHistory.Any())
        {
            @* Kudos History Widget *@
            <div class="widget widget-orange">
                <h4 class="widget-heading">Kudos History</h4>
                <div class="widget-body">

                    <table>
                        @foreach (var history in Model.KudosHistory)
                        {
                            <tr>
                                <td>+ @history.Points</td>
                                <td>@history.DateAdded</td>
                            </tr>
                        }
                    </table>


                </div>
            </div>
        }
    </div>
</div>