@model GamingSessionApp.ViewModels.Profile.UserProfileViewModel
@{
    ViewBag.Title = Model.DisplayName + "'s Profile";
}

<div class="row">
    <div class="col-md-2">
        <img src="@Model.ProfileImageUrl" alt="@Model.DisplayName" title="@Model.DisplayName" width="180" height="180" />
    </div>
    <div class="col-md-7">
        <h1>@Model.DisplayName</h1>
        <h2>Kudos: @Model.KudosPoints</h2>
    </div>

    <div class="col-md-3">

        <div style="margin-bottom: 20px;">
            @* Add friend button *@
            @using (Html.BeginForm("AddFriend", "Profile", new { username = Model.DisplayName }, FormMethod.Post))
            {

                <button id="add-friend-btn" type="submit" class="btn btn-default">
                    Add Friend
                    <i id="btn-spinner" class="fa fa-spinner fa-pulse" style="display: none"></i>
                </button>
            }
        </div>

        @* Users Friends Widget *@
        @Html.Partial("_FriendsWidget", Model.Friends)

    </div>
</div>