@model GamingSessionApp.ViewModels.Preferences.EditUserPreferencesViewModel
@using GamingSessionApp.Helpers;

@{
    ViewBag.Title = "Edit Preferences";
}

<div class="row">

    @* Left hand nav *@
    <div class="col-md-3">
        <ul class="edit-profile-nav">
            <li>
                <a href="@Url.Action("Edit", "Profile")">
                    <div>Edit Profile</div>
                </a>
            </li>
            <li>
                <a href="@Url.Action("Edit", "Account")">
                    <div>Edit Account</div>
                </a>
            </li>
            <li class="active">
                <a href="@Url.Action("Edit", "Preferences")">
                    <div>Edit Preferences</div>
                </a>
            </li>
        </ul>
    </div>

    @* Content *@
    <div class="col-md-9">
        @using (Html.BeginForm("Edit", "Preferences", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h4>Your Preferences</h4>
                <hr />

                @Html.SuccessMessage(ViewBag.SuccessMessage as string)

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.ReceiveEmail, new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        <div class="checkbox">
                            <label>
                                @Html.EditorFor(model => model.ReceiveEmail)
                            </label>
                            @Html.ValidationMessageFor(model => model.ReceiveEmail, "", new {@class = "text-danger"})
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ReceiveNotifications, new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        <div class="checkbox">
                            <label>
                                @Html.EditorFor(model => model.ReceiveNotifications)
                            </label>
                            @Html.ValidationMessageFor(model => model.ReceiveNotifications, "", new {@class = "text-danger"})
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ReminderTimeId, new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.DropDownListFor(m => m.ReminderTimeId, Model.ReminderTimes, null, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ReminderTimeId, "", new {@class = "text-danger"})
                    </div>
                </div>

                <button type="submit" class="btn btn-default pull-right"><i class="fa fa-save"></i> Save</button>
            </div>
        }
    </div>
</div>