@model List<GamingSessionApp.ViewModels.Home.SessionListItem>

<div>
    <div class="list-container border-top-blue">
        <h2>New Sessions</h2>
    </div>

    @foreach (var session in Model)
    {
        <div class="sli-container">
            @*-- Display Scheduled Time --*@
            <div class="sli-heading-time border-bottom-blue">
                <i class="fa fa-clock-o"></i> @Html.DisplayFor(s => session.ScheduledDate)
            </div>

            @*-- Session Details --*@
            <div class="sli-details-left border-right-blue">
                <div class="sli-details-left-image">
                    <img src="/Media/achievement-icon.png" alt="Achievemebt Hunting" height="46" width="46" class="img-circle">
                </div>

                <span><i class="fa fa-user"></i> @session.GamerCount</span>
            </div>

            <div class="sli-details-right sli-blue">
                <a href="@Url.Action("Details", "Sessions", new {id = session.SessionId})">
                    @Html.DisplayFor(s => session.Platform) - Tomb Raider Multiplayer session
                </a>
                @Html.DisplayFor(s => session.Summary)
            </div>
        </div>
    }

</div>
