@using GamingSessionApp.Helpers
@model List<GamingSessionApp.ViewModels.Home.SessionListItem>

<div>
    <div class="list-container border-top-orange">
        <h2>Recommended Sessions</h2>
    </div>

    @foreach (var session in Model)
    {
        <div class="sli-container">
            @*-- Display Scheduled Time --*@
            <div class="sli-heading-time border-bottom-orange">
                <i class="fa fa-clock-o"></i> @Html.DisplayFor(s => session.ScheduledDate)
            </div>

            @*-- Session Details --*@
            <div class="sli-details-left border-right-orange">
                <div class="sli-details-left-image">
                    @Html.SessionTypeIcon(session.Type)
                </div>

                <span><i class="fa fa-user"></i> @session.GamerCount</span>
            </div>

            <div class="sli-details-right sli-orange">
                <a href="@Url.Action("Details", "Sessions", new {id = session.SessionId})">
                    @Html.DisplayFor(s => session.Platform) - Tomb Raider Multiplayer session
                </a>
                @Html.DisplayFor(s => session.Summary)
            </div>
        </div>
    }

</div>
